.dashboard {
  display: flex;
}

/* sidebar */
.sidebar {
  width: 220px;
  background: #FF7F50;
  color: white;
  height: 100vh;
  padding: 20px;
}

.sidebar p {
  margin: 15px 0;
  cursor: pointer;
}

/* main */
.main {
  flex: 1;
  padding: 20px;
}

/* card */
.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
}

/* header */
.card-header {
  display: flex;
  justify-content: space-between;
}

/* job */
.job-card {
  border: 1px solid #eee;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
}

/* applicant */
.applicant {
  background: #f9f9f9;
  padding: 8px;
  margin-top: 8px;
  border-radius: 8px;
}

/* status */
.shortlisted {
  color: green;
}

.rejected {
  color: red;
}

.pending {
  color: orange;
}