body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #fff, #ffece6);
}

.navbar {
  background: #FF7F50;
  color: white;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
}

.container {
  padding: 20px;
}

.card {
  background: rgba(255,255,255,0.7);
  padding: 20px;
  border-radius: 15px;
  margin: 10px 0;
}

.btn {
  background: #FF7F50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

input, select {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: rgba(255,255,255,0.7);
  padding: 20px;
  border-radius: 20px;
  margin: 15px 0;
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}